.hintWin{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  font-size: 70px;
  color: white;
  line-height: 10;
  background-color: rgba(0, 0, 0, 0.7);

  &-none{
    visibility: hidden;
  }
}